{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="overlay" id="pay_me"></div>
{% endblock %}

{% block content %}
    <div class="container-fluid min_height">
        <div class="row">
            <div class="col text-center">
                <h4 class="font-logo text-white">Shopping Bag</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                    {{ bag_items }}
                    </div>
                {% else %}
                    <p class="lead text-white mx-auto">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn start-now rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
        
    </div>
{% endblock %}
