{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    {% else %}
    {% endif %}
<div class="container-fluid" >
	<div class="row my-auto bg-blueish min_height no-padding ">
            <div class="order-last order-md-first d-inline-block col-md-6" id="accounting">
            </div>
            <!-- <div class="col-12 col-md-6">
            <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
            </div> -->
            <div class="col-12 col-md-5 h-100  bg-blueish order-md-last my-auto mx-auto text-white text-center">
                <h3 class=" font-logo mb-3">Being a manager?</h3>
                <p class="text-large">We know that emploee's paperwork can be a nightmare!</p>
                <p>Every week tons of payslips to be send.</p>
                <p>Every day someone wants book, cancel, change or check their holiday</p>
                <p>Every minute you have to repeat the same information to other people.</p>
            </div>
        </div>
        <div class="row my-auto bg-easy min_height no-padding">
        <div class=" col-12 col-md-6 h-100 my-auto mx-auto text-center">
            <h3 class=" font-logo mb-3">But you can enjoy your job!</h3>
                <p class="text-large">We provide tools to sort it out quickly and effectively.</p>
                <p>In SYPW you can sent payslips to your team, contact all of them at once and sort every holiday querry.</p>
                <p>And all of it in one place, without even leaving your desk!</p>
        </div>
        <div class="order-last col-12 col-md-6" id="one-place">
        </div>
        </div>
        <div class="row text-center" id="home-page">
        <div class="col-12 bg-white py-5 min_height font-logo">
            <div class="row p-5 my-5">
            <div class="col-10 col-md-4 features mx-auto text-center">
                <i class="fas fa-snowboarding my-4 fa-lg"></i>
                <h3 class="text-darkish">Sort out your team's holiday</h3>
            </div>
            <div class="col-10 col-md-4 features mx-auto">
                <i class="fas fa-wallet my-4 fa-lg"></i>
                <h3 class="text-darkish">Acces your payslips <br> online</h3>
            </div>
            <div class="col-10 col-md-4 mx-auto features">
                <i class="fas fa-envelope-open-text my-4 fa-lg"></i>
                <h3 class="text-darkish">Contact your whole team via our forum</h3>
            </div>
            </div>
        </div>
		<div class="h-100 my-5 d-md-none col-10 rounded  mx-auto bg-nav my-border">
			<h2 class="text-uppercase pt-4 ">
				<strong>Sort your paperwork like a pro!</strong>
			</h2>
			<div class="my-5">
				<h4>
					<a href="{% url 'products' %}" class="start-now btn btn-lg rounded-1 text-uppercase text-center px-5 py-3">start now</a>
				</h4>
			</div>
		</div>
		<div class="h-100 d-none d-md-block col-md-5 rounded text-center my-5 py-5 mx-auto bg-nav my-border">
			<h2 class="display-4 text-uppercase pt-4 ">
				<strong>Sort your paperwork like a pro!</strong>
			</h2>
			<div class="my-5">
				<h4>
					<a href="{% url 'products' %}" class="start-now btn btn-lg rounded-1 text-uppercase text-center px-5 py-3">start now</a>
				</h4>
			</div>
		</div>
	</div>
	<div class="row min_height bg-blueish">
    
        <div class="col-12 col-md-6" id="my-opinion"></div>
        <div class="col-12 col-md-6 h-100 mt-auto pb-5 ml-0">
            <div class="card bg-easy">
                <div class="card-header">
                   <strong> Our customers said:</strong>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p>With SYPW within few minutes I can do the job that used to take me hours. <br> Now I've got more time to do what I love. </p>
                    <footer class="blockquote-footer">John Smith <cite title="Source Title">Owner of Ciridae Ltd</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
