{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    {% else %}
    {% endif %}
<div class="container-fluid" >
	<div class="row my-auto bg-blueish min_height no-padding ">
            <div class="order-last order-md-first d-inline-block col-md-6" id="accounting">
            </div>
            <!-- <div class="col-12 col-md-6">
            <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
            </div> -->
            <div class="col-12 col-md-5 h-100 d-md-inline-block bg-blueish order-md-last my-auto mx-auto text-white text-center">
                <h3 class=" font-logo mb-3">Being a manager?</h3>
                <p class="text-large">We know that emploee's paperwork can be a nightmare!</p>
                <p>Every week tons of payslips to be send.</p>
                <p>Every day someone wants book, cancel, change or check their holiday</p>
                <p>Every minute you have to repeat the same information to other people.</p>
            </div>
        </div>
        <div class="row my-auto bg-easy min_height no-padding">
        <div class=" col-12 col-md-6 h-100 my-auto mx-auto text-center">
            <h3 class=" font-logo mb-3">But you can enjoy your job!</h3>
                <p class="text-large">We provide tools to sort it out quickly and effectively.</p>
                <p>In SYPW you can sent payslips to your team, contact all of them at once and sort every holiday querry.</p>
                <p>And all of it in one place, without even leaving your desk!</p>
        </div>
        <div class="order-last col-12 col-md-6" id="one-place">
        </div>
        </div>
        <div class="row min_height" id="home-page">
        <div class="col-10 bg-nav">
        <a href="" class="three_levels"></a>
        <a href="" class="three_levels"></a>
        <a href="" class="three_levels"></a>
        </div>
		<div class="h-100 my-5 d-md-none col-10 rounded text-center mx-auto bg-nav my-border">
			<h2 class="text-uppercase pt-4 ">
				<strong>Sort your paperwork like a pro!</strong>
			</h2>
			<div class="my-5">
				<h4>
					<a href="{% url 'products' %}" class="start-now btn btn-lg rounded-1 text-uppercase text-center px-5 py-3">start now</a>
				</h4>
			</div>
		</div>
		<div class="h-100 d-none d-md-block col-md-6 rounded text-center my-5 mx-auto bg-nav my-border">
			<h2 class="display-4 text-uppercase pt-4 ">
				<strong>Sort your paperwork like a pro!</strong>
			</h2>
			<div class="my-5">
				<h4>
					<a href="{% url 'products' %}" class="start-now btn btn-lg rounded-1 text-uppercase text-center px-5 py-3">start now</a>
				</h4>
			</div>
		</div>
	</div>
	<!-- <div class="d-md-none d-xl-block "></div> -->
</div>
{% endblock %}
