{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="overlay" id="home-page"></div>
{% endblock %}

{% block content %}
<div class="container-fluid ">
        <div class="row my-5 min_height">
            <div class="col-12 col-md-5 col-lg-7 "></div>
            <div class="h-100 my-5 d-md-none col-10 rounded text-center mx-auto bg-nav my-border">
                <h2 class="text-uppercase pt-4 ">
                   <strong>Sort your paperwork like a pro!</strong>
                </h2>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="start-now btn btn-lg rounded-1 text-uppercase text-center px-5 py-3">start now</a>
                    </h4>
                </div>
            </div>
            <div class="h-100 d-none d-md-block col-md-6 col-lg-4 rounded text-center my-5 mx-auto bg-nav my-border">
                <h2 class="display-4 text-uppercase pt-4 ">
                   <strong>Sort your paperwork like a pro!</strong>
                </h2>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="start-now btn btn-lg rounded-1 text-uppercase text-center px-5 py-3">start now</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="d-md-none d-xl-block min_height">
        </div>
    </div>
{% endblock %}
