{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}

	<div class="overlay" id="my-profile"></div>
{% endblock %}

{% block content %}

	<div class="container-fluid min_height">
		<div class="row">
			<div class="col text-center">
				<h4 class=" font-logo my-3 my-lg-5 text-white">My profile: {{ user }}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-xl-5 mx-auto">
				<p class="col-8 d-lg-none my-auto mx-auto text-center bg-nav rounded border">Default Profile Information</p>
				<h4 class="d-none d-lg-block my-auto col-8 mx-auto text-center bg-nav rounded border">Default Profile Information</h4>
				<form class="my-3 text-center" action="{% url 'profile'%}" method="POST" id="profile-update-form"> 
            {% csrf_token %}
            {{ form|crispy }}
            {{ company_form|crispy }}
<!--              
            {{ company_form.company_name | as_crispy_field }}
            {{ company_form.company_team | as_crispy_field }} -->
            
					<button class="btn my-5 start-now rounded">
            Update Information
            </button>
				</form>
			</div>
			<div class="col-12 col-md-6 col-xl-5 mx-auto">
				<p class="col-8 d-lg-none my-auto mx-auto text-center bg-nav rounded border">Order History</p>
				<h4 class="d-none d-lg-block my-auto col-8 mx-auto text-center bg-nav rounded border">Order History</h4>
				<div class="order-history my-3 table-responsive rounded bg-nav">
					<table class="table table-sm table-border">
						<thead>
							<tr>
								<th>Order Number</th>
								<th>Date</th>
								<th>Items</th>
								<th>Order Total</th>
							</tr>
						</thead>
						<tbody>
                            {% for order in orders %}
							<tr>
								<td>
									<a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
								</td>
								<td>{{ order.date }}</td>
								<td>
									<ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                
										<li class="small">
                                                    {{ item.product.name }}
                                                </li>
                                            {% endfor %}
                                        
									</ul>
								</td>
								<td>${{ order.grand_total }}</td>
							</tr>
                            {% endfor %}
                        
						</tbody>
					</table>
				</div>
			</div>
		</div>
    {{ profile }}
   

	</div>
	<div class="min_height"></div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
	<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
