{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="overlay" id="all_good"></div>
{% endblock %}

{% block content %}
<div class="container-fluid min_height">
   <div class="row">
      <div class="col text-center">
         <h4 class="font-logo text-white">Thank You</h4>
         <p class="text-white">Your order information is below. A confirmation email has been send to <strong>{{ order.email }}</strong>. </p>
      </div>
   </div>
   <div class="row">
      <div class="col-12 col-lg-7 ">
        
      </div>
   </div>
   <div class="row">
        <div class="col-12 col-lg-6 text-center mx-auto my-auto ">
            <a href="https://www.youtube.com/watch?v=GRxofEmo3HA" class="btn start-now  my-2" target="_blank">
                <span class="icon mr-3">
                    <i class="fas fa-couch"></i>
                </span>
                <span class="text-uppercase">It's all sorted. Now you can relax.</span>
            </a>
            <p class="text-white">or</p>
            <a href="#" class="btn pay-now  my-2" >
                <span class="icon mr-3">
                    <i class="fas fa-user-circle"></i>
                </span>
                <span class="text-uppercase">See my account details</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
