.order-history {
    max-height: 525px;
    overflow-y: auto; 
}

#my-profile {
    background: url('/media/profile.jpg') center no-repeat;
    background-size: cover;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color:  #1b1a20;
}

#id_default_country option:first-child {
    color: grey;
}