{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid " id="payslips">
        <div class="row ">
            {% if not payslips %}
            <div class="col-8 text-center margin-top mr-left text-background ">
                <h2>You don't have any payslips yet!</h2>
                <p class="text-muted">Please contact your manager if you think it's wrong.</p>
            </div>
            {% else %}
                {% for payslip in payslips %}
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Payslip for week 'week_number'
                            </button>
                        </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Here is your payslip
                        </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
    {% endblock %}
