{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="overlay" id="comunicado"></div>

{% endblock %}

{% block content %}

<div class="container-fluid ">
	<div class="row ">
		<div class="col-5 mx-auto text-center text-uppercase ">
			<h4 class="font-logo my-4 bg-nav">Messages</h4>
		</div>
		<div class="col-10 my-auto mx-auto">

            <h2 class="jumbotron bg-nav text-center my-auto">
                Currently active subjects: {{count}}
                <form method="POST" action="{% url 'addInForum' %}">
                    {% csrf_token %}
                <button class="btn start-now mx-2">Add more</button>
                </form>
            </h2>
            <div class="col-10 margin-top mx-auto min_height">
            
            
            {%for forum in forums %}
            
                <div class="card box container-fluid bg-nav">
                    <br>
                    <div class="card-title">
                        <a class="text-darkish text-center" href="{% url 'addInDiscussion' %} "><h4>{{forum.topic}}</h4></a> 
                        <div class="card-body container-fluid">
                                <p>{{forum.description}}</p>
                            <hr>
                            <p class="text-muted col-3"><small> By: {{forum.name}} </small></p><small class="col-3">
                            email- {{forum.email}} </small>
                            <hr>     
                            <h5>Views from other users:</h5>
                            {%for discuss in discussions%}
                                {%for objs in discuss%}  
                                    {% if objs.forum == forum %}
                                        {{ objs.discuss }}
                                        <br>
                                    {% endif %}
                                {%endfor%}
                            {%endfor%}
                            <form method="POST" action="{% url 'addInDiscussion' %}">
                                {% csrf_token %}
                            <button class="btn start-now mx-2">Add more</button>
                            </form>
                        </div>
                </div>
            </div>
            <br>
            
            {%endfor%}
        </div>
            <!-- {% if messages %}
                {% for message in messages %}
                    
			<div class="accordion my-1" id="message{{message.number}}">
				<div class="card">
					<div class="card-header" id="subject_{{message.subject}}">
						<h2 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{message.number}}}" aria-expanded="true" aria-controls="collapse{{message.number}}">
                                Message 1 | {{message.subject}}
                                </button>
						</h2>
					</div>
					<div id="collapse{{message.number}}" class="collapse show" aria-labelledby="headingOne" data-parent="#message{{message.number}}">
						<div class="card-body"></div>
					</div>
				</div>
			</div>
                {% endfor %}
            {% else %}
                
			<div class="accordion text-center text-background" id="accordionEmpty">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link text-darkish" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            You have no messages yet
                            </button>
						</h2>
					</div>
					<div id="collapseOne" class="collapsed" aria-labelledby="headingOne" data-parent="#accordionEmpty">
						<div class="card-body">
                        No, seriously, you don't have to check it twice. 
							<br>
                        No messages at all.
                        
							</div>
						</div>
					</div>
				</div>
            {% endif %}
            --></div>
			</div>
		</div>
	<!-- </div> -->
	<div class="btt-button shadow-sm rounded border border-black">
		<a class="btt-link d-flex h-100">
			<i class="fas fa-chevron-up fa-lg text-black mx-auto my-auto"></i>
		</a>
	</div>
    {% endblock %}

{% block postloadjs %}
    
	<script type="text/javascript">
    	$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		});
	</script>
	<script>
        $('.collapse').collapse();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
{% endblock %}
