{% extends 'base.html' %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="overlay" id="comunicado"></div>
{% endblock %}

{% block content %}

<div class="container-fluid ">
	<div class="row ">
		<div class="col-5 mx-auto text-center text-uppercase ">
			<h4 class="font-logo my-4 bg-nav">Messages</h4>
		</div>
		<div class="col-10  my-auto mx-auto">

            <h2 class="jumbotron col-lg-8 bg-nav text-center mx-auto my-auto">
                Currently active topics: {{count}}
                <form method="POST" action="{% url 'addInForum' %}">
                    {% csrf_token %}
                <button class="btn start-now mx-2">Add more</button>
                </form>
            </h2>
            <div class="col-10 margin-top mx-auto min_height my-5">

            {% for forum in forums %}
                {% if request.user.is_superuser %}
			 <div class="accordion  bg-nav my-2" id="accordion-{{forloop.counter}}"> 
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0 text-center">
							<button class="btn  btn-link text-darkish" type="button" data-toggle="collapse" data-target="#forum-{{forloop.counter}}" aria-expanded="false" aria-controls="forum-{{forloop.counter}}">
                            {{ forum.topic }}

                            </button>
                            </h2>
                            <div class="text-muted text-left"><small> By: {{forum.name}}. &emsp;
                            Email- {{forum.email}} </small>
                            </div>
						
					</div>
					<div id="forum-{{forloop.counter}}" class="collapsed text-left bg-nav" aria-labelledby="headingOne" data-parent="#accordion-{{forloop.counter}}">
						<div class="card-body text-center">
                        {{forum.description}} <hr>
                        <h5 class="text-left text-black">Views from other users:</h5> <hr>
                            {% for discuss in discussions%}
                                {% for objs in discuss%}  
                                    {% if objs.forum == forum %}
                                    <div class="row">
                                    <div class="col-6">
                                        {{ objs.discuss }}
                                    </div>
                                    <div class="col-3">
                                        {{ objs.nick }}
                                    </div>
                                    <div class="col-3">
                                    <a href="{% url 'editInDiscussion' objs.id %}" class="start-now btn rounded">Edit</a>
                                    <a href="{% url 'deleteInDiscussion' objs.id %}" class="btn btn-danger rounded">Delete</a>
                                    </div>
                                    </div>
                                    <hr>
                                    {% endif %}
                                {%endfor%}
                            {%endfor%}
                            <hr>
                        
                            <form class="text-right" method="POST" action="{% url 'addInDiscussion' %}">
                                {% csrf_token %}
                            <button class="btn start-now mx-2">Add more</button>
                           
                            <a href="{% url 'deleteInForum' forum.id %}" class="btn btn-danger rounded">Delete Forum</a>
                            </form>
							</div>
						</div>
					</div>
				</div>
                {% else %}
                <div class="accordion  bg-nav my-2" id="accordion-{{forloop.counter}}"> 
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0 text-center">
							<button class="btn  btn-link text-darkish" type="button" data-toggle="collapse" data-target="#forum-{{forloop.counter}}" aria-expanded="false" aria-controls="forum-{{forloop.counter}}">
                            {{ forum.topic }}

                            </button>
                            </h2>
                            <div class="text-muted text-left"><small> By: {{forum.name}}. &emsp;
                            Email- {{forum.email}} </small>
                            </div>
						
					</div>
					<div id="forum-{{forloop.counter}}" class="collapsed text-left bg-nav" aria-labelledby="headingOne" data-parent="#accordion-{{forloop.counter}}">
						<div class="card-body text-center">
                        {{forum.description}} <hr>
                        <h5 class="text-left text-black">Views from other users:</h5> <hr>
                            {% for discuss in discussions%}
                                {% for objs in discuss%}  
                                    {% if objs.forum == forum %}
                                    <div class="row">
                                    <div class="col-8">
                                        {{ objs.discuss }}
                                    </div>
                                    <div class="col-4">
                                        {{ objs.nick }}
                                    </div>
                                    </div>
                                    <hr>
                                    {% endif %}
                                {%endfor%}
                                
                            {%endfor%}
                            <hr>
                        
                            <form class="text-right" method="POST" action="{% url 'addInDiscussion' %}">
                                {% csrf_token %}
                            <button class="btn start-now mx-2">Add more</button>
                            </form>
							</div>
						</div>
					</div>
				</div>
                {% endif %}
            {% endfor %}
                </div>
			</div>
		</div>
	</div>
	<div class="btt-button shadow-sm rounded border border-black">
		<a class="btt-link d-flex h-100">
			<i class="fas fa-chevron-up fa-lg text-black mx-auto my-auto"></i>
		</a>
	</div>
    {% endblock %}

{% block postloadjs %}
    
	<script type="text/javascript">
    	$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		});
	</script>
	<script>
        $('#accordion{{forloop.counter}}').collapse({
            toggle: false
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
{% endblock %}
