/* @import url(https://fonts.googleapis.com/css?family=Cuprum);

#cal-body{
	background:hsla(210, 75%, 5%, 1);
	font-family: 'Cuprum', sans-serif;
	width:100%;

}
section{
	width:100%;
	margin:auto;
	font-size: 1.5vw;
    padding:10vw;
    transition:all 2s ease;
}
table #calendar{
	width:80vw; 
	padding:2.5vw; 
	text-align:center;
	background:hsla(176, 65%, 15%, .8);
	color:hsla(191, 65%, 5%, 1);
	border:none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    user-select:none;
    outline:none;
}
table th{
    background:hsla(191, 75%, 85%, .8);
	padding:1.2vw;
    border:none;
}
table tr{
	padding:1vw;
    transform: translate(0,0);
}
table td{
	padding:1.5vw;
    font-size:2vw;
    color:hsla(176, 85%, 85%, 1);
    text-shadow: -1px 1px hsla(191, 75%, 85%, 1);
    transition: all, 1s, ease;
}

table td:hover{
	background:hsla(191, 65%, 95%, .7);
    border-radius:2px;
	box-shadow: 1px 1px 1px hsla(197, 55%, 5%, .2);
    color:hsla(191, 65%, 5%, 1);
}
.data{
	width:80vw;
	text-align:center;
	display:inline-block;
	box-shadow: 1px 0 0 1px hsla(197, 35%, 5%, .1);
}

input[type=text]{ 
	padding:1.2vw;
    text-align:center;
	border:none;
	background: hsla(191, 55%, 95%,.2);
	color:hsla(191, 65%, 5%, 1);
	font-family: 'Cuprum', sans-serif;
	font-weight:bold;
    font-size:1.5vw;
    width:15vw;
    float:left;
    margin:.5%;
    user-select:none;
    outline:none;
}
input:focus{
    box-shadow: inset 2px 1px 1px 1px hsla(197, 35%, 5%, .1);
}
[placeholder]:focus::-webkit-input-placeholder { 
	color:hsla(191, 65%, 5%, 1);
    user-select:none;
    outline:none;
}
[placeholder]:focus::-moz-placeholder {
	color:hsla(191, 65%, 5%, 1);
    user-select:none;
    outline:none;
 } */