{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="overlay" id="pay_me"></div>
    <div class="container-fluid min_height text-center">
        <div class="row mt-5">
            {% for product in products %}
                <div class="col-12 col-md-4 mt-2">
                
                    <div class="card h-100 text-darkish bg-blueish">
                        <div class="card-body ">
                        <a class="dec-none text-darkish" href="{% url 'view_bag' %}">
                            <i class="fas fa-wallet fa-lg"></i> <br>
                            <p class="mb-0 font-logo">{{ product.name }}</p>
                        </a>
                        </div>
                        {% if product.additional_info %}
                            <div class="row">
                                <div class="col">
                                    <p class="text-white">
                                    {{ product.additional_info }}
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="card-footer border-0">
                            <div class="row">
                                <div class="col">
                                <p>{{ product.description }}</p>
                                <h4>£ {{ product.price }}</h4>
                                </div>
                            </div>
                        </div>
                    
                
                <form class="form" action="" method="POST">
                {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <input type="submit" class="btn start-now rounded-0 border-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                    </div>
                </form>
           </div>
           </div>

            {% endfor %}
            
        </div>
    </div>

{% endblock %}
