{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    

{% endblock %}

{% block holinav %}
          
<a class="dropdown-item text-blueish" href="{% url 'holiday' %}">Book Holiday</a>
<a class="dropdown-item text-blueish" href="{% url 'see_holiday' %}">See holiday</a>
          
{% endblock %}

{% block content %}

<div class="container-fluid " id="holiday">
	<div class="row text-center">
		<div class="col-5 mx-auto ">
			<h4 class="font-logo my-4 text-uppercase">Check Holiday</h4>
		</div>
		<div class="col-10 mx-auto margin-top">
			<h3 class="my-border bg-nav">Here we will place a calendar where you can see your planned holidays!</h3>
		</div>
	</div>
</div>
    {% endblock %}
